include workflux/web_app/static/*.js
include workflux/web_app/static/*.css
include workflux/web_app/templates/*.html
include workflux/default_config.yaml
include workflux/example_config.yaml
include README.md