<!DOCTYPE html>
<html lang="en">
    <head>
        <title>epiCWL: {% block title %}{% endblock title %}</title>
        {% block head %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">
        <link rel="stylesheet" href="/static/custom.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>
        <link rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" 
            integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" 
            crossorigin="anonymous">

        <!-- Load custom java scripts -->
        <script src="/static/general_utilities.js"></script>
        {% endblock head %}
    </head>
    <body class="w3-theme-d3 w3-medium" onload="init()">
            <!-- Navigation Bar -->
            <div id="nav_bar" class="w3-bar w3-metro-darken">
                <a class="w3-bar-item w3-button" href="{{ url_for('main') }}"><font color="grey">CW</font><font color="green">Lab</font></a>
                <a class="w3-bar-item w3-button"><i class="fas fa-project-diagram padding-side-10"></i>CWL workflows/tools</a>
                <a class="w3-bar-item w3-button" href="{{ url_for('job_template') }}"><i class="fas fa-plus-square padding-side-10"></i>Job Creation</a>
                <a class="w3-bar-item w3-button"><i class="fas fa-play-circle padding-side-10"></i>Job Execution & Results</a>
                <a class="w3-bar-item w3-button w3-right"><i class="fas fa-info-circle padding-side-10"></i>Help</a>
                <div class="w3-dropdown-click w3-button w3-right">
                    <i class="fas fa-user"></i> Login
                    <!-- see old app -->
                </div>
            </div>

            <!-- Display flash messages -->
            <!-- should be removed -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Page content -->
            <div id="page_main" class="w3-panel">
                {% block content %}{% endblock %}
            </div>
        
    </body>

</html>