{% extends "base.html" %}

{% block title %}Job Creation{% endblock title %}

{% block head %}
    {{ super() }}
    <!-- <script src="/static/job_template.js"></script> -->
    <script>
        var template_names = [];
        var template_filenames = []

        function sleep(secs) {
            secs = (+new Date) + secs * 1000;
            while ((+new Date) < secs);
        }

        function build_action_button(value){
            html =
            '<input type="submit" name="action" class="w3-button action_button w3-bar-item" ' + 
                'value="' + value + '"></input>'
            return html
        }

        function build_action_buttons(values){
            html = ""
            for( var i=0; i < values.length; i++){
                html += build_action_button(values[i])
            }
            return html
        }

        function build_job_templ_list_element(template_name, template_filename){
            html = 
                '<div class="job_templ_bar" >' + 
                    '<input id="jt_rbtn_' + template_name + '" type="radio" name="job_templ_select" ' +
                        'value=' + template_filename + '></input>' + 
                        ' ' + template_name +
                '</div>'
            return html
        }

        function build_job_templ_list(template_names, template_filenames, template_data){
            html = ""
            for(var i=0; i < template_names.length; i++ ){
                html += build_job_templ_list_element(
                    template_names[i], template_filenames[i]
                )
            }
            return html
        }

        function load_job_templ_list(){
            $.ajax({
            'async': true,
            'type': "GET",
            'global': false,
            'dataType': 'json',
            'url': "{{ url_for('read_templ_dir') }}",
            'success': function (responce) {
                template_names = responce[0]
                template_filenames = responce[1]
                sleep(1) // for testing
                $("#job_template_panel").html(
                    build_job_templ_list(template_names, template_filenames)
                )
                $("#jt_rbtn_" + template_names[0]).prop('checked', true) // check the first job template
            }
            });
        }

        function init(){
            $("#action_panel").html(
                build_action_buttons(["create job(s) from template", "delete template", "edit template"])
            );
            $("#job_template_panel").html(build_loader("test", size="large"));
            load_job_templ_list()
        }


    
    </script>
{% endblock head %}

{% block content %}
    <h1>Job Templates:</h1>
    <form action="{{ url_for('action_direct') }}" method="POST">
        <div id="action_panel" class="w3-bar-block w3-black w3-right" style="width:25%;right:0"></div>
        <div id="job_template_panel" class="" style="margin-right:25%"></div>
    </form>
{% endblock %}

