{% extends "base.html" %}

{% block title %}General Job Info{% endblock title %}

{% block head %}
    {{ super() }}
    <script type="text/babel">
        var param_names = [];
        var param_modes = {};

        const build_param_mode_sel_element = (props) => {
            return(
                <tr> 
                    <td>{props.param_name}</td>
                    <td>global
                        <label className="switch">
                            <input type="checkbox">
                            <span className="slider round"></span>
                        </label>
                    job-specific</td>
                </tr>
            )
        }

        const build_param_mode_sel = (props) => {
            let elements = []
            for(param_name in props.param_names){
                elements.push(  <build_param_mode_sel_element param_name=param_name /> ) 
            }

            return(
                <table class="w3-table w3-bordered">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Mode</th>
                        </tr>
                    </thead>
                    <tbody>{elements}</tbody>
                </table>
            )
        }

        function load_param_mode_sel(){
            $.ajax({
            'async': true,
            'type': "GET",
            'global': false,
            'dataType': 'json',
            'url': "{{ url_for('get_param_info', job_templ_file=job_templ_file) }}",
            'success': function (responce) {
                param_names = responce[0]
                param_modes = responce[1]
                sleep(1) // for testing
                ReactDOM.render(
                    <build_param_mode_sel param_names=param_names />,
                    document.getElementById("param_mode_sel")
                );
            }
            });
        }


        function init(){
            $("#param_mode_sel").html(build_loader("test", size="large"));
            load_param_mode_sel()
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>New Job:</h1>
    <p>Based on job template: {{ job_templ_name }}</p>
    <p>Please provide some general information on the job submission.</p>
    <form action="{{ url_for('action_direct') }}" method="POST">
        <p><div>
            <label>Name of the job group:</label>
            <input type="text" values="job_name" 
                class="w3-input w3-border"></input>
        </p></div>
        <p>
            <div>Select the mode for each input parameter:</div>
            <div id="param_mode_sel"></div>
        </p>
        <p><div>
            <input type="submit" name="action" 
                class="w3-button w3-black action_button" value="next"></input>
        </div></p>
    </form>
{% endblock %}

