{% extends "base.html" %}

{% block content %}
    <h1>Welcome to <font color="green"><b>epiC</font><font color="grey">WL</font></b></h1>
    <h1>Welcome to <font color="green"><b>ease</font><font color="grey">CWL</font></b></h1>
    <h1>Welcome to <font color="grey">C<font color="green"><b>WeLL</font></font></b></h1>
    <h1>Welcome to <font color="grey">C<font color="green"><b>W</b>eL<b>L</font></font></b></h1>
    <h1>Welcome to <font color="w3-blue"><b>surf</font><font color="grey">CWL</font></b></h1>
    <h1>Welcome to <font color="green"><b>simply</font><font color="grey">CWL</font></b></h1>
    <h1>Welcome to <font color="green"><b>Simply</font><font color="grey">CWL</font></b></h1>
{% endblock %}