.nowrap{
    white-space: nowrap !important
}

.vertical_container_item {
  padding-top: 5px;
  padding-bottom: 5px
}

.large_loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid green; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: auto ;
    margin-bottom: auto ;
    margin-left: auto ;
    margin-right: auto 
}

.small_loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto ;
    margin-right: auto
  }

.tiny_loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid green;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto ;
    margin-right: auto 
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
} 

.list_item_header_bar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color:#fff !important; 
    background-color:#303030 !important
}

.action_button {
    margin-top:2px;
    margin-bottom: 2px
}

.action_button_carret {
    padding-left: 0px;
    padding-right: 5px;
    width: 35px
}

.action_name {
    width: 100%
}

.collapsible_list_element_header_button {
    margin-top: 16px;
    margin-bottom: 16px
}

.collapsible_list_element_content {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color:#fff !important; 
    background-color: #575757 !important
}

/* Param Forms */
.param-field-isnull{
  background-color: hsl(0, 0%, 20%);
}

.param-field-notnull {
  background-color: hsl(0, 0%, 10%);
}
.param-field-notnull:hover, .param-field-isnull:hover {
  background-color: hsl(0, 0%, 30%);
}

.inline-block {
  display: inline-block;
}

.param-input {
  display: inline-block;
  padding: 2px 4px;
  width: calc(100% - 16px);
  background-color: hsl(0, 0%, 90%);
  box-sizing: border-box;
  border: 2px solid black;
}

.param-input-browse {
  display: inline-block;
  padding: 2px 4px;
  width: calc(100% - 32px);
  background-color: hsl(0, 0%, 90%);
  box-sizing: border-box;
  border: 2px solid black;
}

.param-input:disabled {
  color: hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 50%);
}


/* toggle switch */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: inherit;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    font-family: courier;
    font-size: 14px;
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -5px;
    left: calc(100% + 10px);
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }