<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/oidc-client.min.js"></script>
        <script>
            window.onload = function () {
                let oidcConf = JSON.parse('{{ config.OIDC_CONF | tojson | safe }}')
                oidcConf["responce_mode"] = "query"
                new Oidc.UserManager(oidcConf).signinRedirectCallback().then(function() {
                    window.location = "{{ url_for('main') }}"
                }).catch(function (e) {
                    console.log(e);
                    document.getElementById('error_explanation').innerText = "Problem has occured";
                    document.getElementById('error_place').innerText = e;
                });   
            }
        </script>
    </head>
</html>